/* @media screen and (max-width: 360px) {
   .con{
       text-align:center
} */

.hero{
    background-image: url(/assets/img/IMG-20190727-WA0003.jpg);
    background-size: cover;
    background-color: rgb(83, 83, 83);
    background-blend-mode: overlay;
}
.container{

    background-color: rgb(240, 234, 234) !important;
}
.main{
    background-color: rgb(240, 234, 234) !important;
}
.con{
    font-size: 20px;
    
}
.leader{
    font-size: 23px;
}
.lorem{
    text-align: justify;
}
.fill{
    text-decoration: underline;
}
.invent{
    text-align: center;
}